<!DOCTYPE html>
<html lang="en">

  <body>
   
        <h1>UPLOAD IMAGE</h1>  

        
     <form method ="POST" action="/upload" enctype ="multipart/form-data">

             <input type="file" name="image"><br>
             <input type="submit">
     </form> 
    
	
  </body>
</html>